@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Prevent menu open body scroll */
body.menu-open {
  overflow: hidden;
}

/* CSS de Home */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
